<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Please sign in</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<form class="form-signin" method="post" th:action="@{/registrarUser}" th:object="${user}">
  <img class="card-img-top"alt="Card image cap" src="https://i.imgur.com/DJxPoOi.png">
  <h2 class="form-signin-heading">Registrarse</h2>
  <p>
    <label class="sr-only">Correo electronico</label>
    <input type="text" th:field="*{username}" class="form-control" placeholder="Correo electrónico" required autofocus>
  </p>
  <p>
    <label class="sr-only">Contraseña</label>
    <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Contraseña" required>
  </p>
  <p>
    <label  class="sr-only">Contraseña</label>
    <input type="password" id="password_repeat" name="password_repeat" class="form-control" placeholder="Repite la Contraseña" required>
  </p>
  <input name="_csrf" type="hidden" value="i1ZL902ipc9m1bYyIslrDyf4UOCrMj97_03NmZBH9x0WKHwQuG4tkXmaxvtL7NRWF-RfakHNfdidAglWnn7__KVylS51Hh4l" />
  <button class="btn btn-lg bg-orange btn-block" type="submit">Sign in</button>
</form>
</body>
</html>


<style>
  body{
    background-color: white;
  }

  .bg-orange{
    background-color: #FFBD59;
  }

</style>


<script>
  var passwordInput = document.getElementById('password');
  var passwordRepeatInput = document.getElementById('password_repeat');

  passwordInput.addEventListener('input', validatePasswordMatch);
  passwordRepeatInput.addEventListener('input', validatePasswordMatch);

  function validatePasswordMatch() {
    var password = passwordInput.value;
    var passwordRepeat = passwordRepeatInput.value;

    if (password === passwordRepeat) {
      passwordInput.setCustomValidity('');
      passwordRepeatInput.setCustomValidity('');
    } else {
      passwordInput.setCustomValidity('Las contraseñas no coinciden.');
      passwordRepeatInput.setCustomValidity('Las contraseñas no coinciden.');
    }
  }
</script>